.idea
bin
obj
*DotSettings.user
/.vs/CodeInterview/v17
/SoftwareEngineerInterview/CSharp/Zip.InstallmentsService/.vs/Zip.InstallmentsService
/.vs/VSWorkspaceState.json
/.vs/UpdatedProject/v17/.suo
/SoftwareEngineerInterview/CSharp/Zip.InstallmentsService/.vs/ProjectEvaluation
